<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="loanDetails">
      <h2 data-cy="loanDetailsDetailsHeading"><span jhiTranslate="vksApplicationApp.loanDetails.detail.title">Loan Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ loanDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanAmount">Loan Amount</span></dt>
        <dd>
          <span>{{ loanDetails.loanAmount }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanAccountNo">Loan Account No</span></dt>
        <dd>
          <span>{{ loanDetails.loanAccountNo }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanType">Loan Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'vksApplicationApp.LoanType.' + loanDetails.loanType }}">{{ loanDetails.loanType }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'vksApplicationApp.LoanStatus.' + loanDetails.status }}">{{ loanDetails.status }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanStartDate">Loan Start Date</span></dt>
        <dd>
          <span>{{ loanDetails.loanStartDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanEndDate">Loan End Date</span></dt>
        <dd>
          <span>{{ loanDetails.loanEndDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanPlannedClosureDate">Loan Planned Closure Date</span></dt>
        <dd>
          <span>{{ loanDetails.loanPlannedClosureDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanCloserDate">Loan Closer Date</span></dt>
        <dd>
          <span>{{ loanDetails.loanCloserDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanEffectiveDate">Loan Effective Date</span></dt>
        <dd>
          <span>{{ loanDetails.loanEffectiveDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanClassification">Loan Classification</span></dt>
        <dd>
          <span jhiTranslate="{{ 'vksApplicationApp.NpaClassification.' + loanDetails.loanClassification }}">{{
            loanDetails.loanClassification
          }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.resolutionNo">Resolution No</span></dt>
        <dd>
          <span>{{ loanDetails.resolutionNo }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.resolutionDate">Resolution Date</span></dt>
        <dd>
          <span>{{ loanDetails.resolutionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.costOfInvestment">Cost Of Investment</span></dt>
        <dd>
          <span>{{ loanDetails.costOfInvestment }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanBenefitingArea">Loan Benefiting Area</span></dt>
        <dd>
          <span>{{ loanDetails.loanBenefitingArea }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.dccbLoanNo">Dccb Loan No</span></dt>
        <dd>
          <span>{{ loanDetails.dccbLoanNo }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.mortgageDeedNo">Mortgage Deed No</span></dt>
        <dd>
          <span>{{ loanDetails.mortgageDeedNo }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.mortgageDate">Mortgage Date</span></dt>
        <dd>
          <span>{{ loanDetails.mortgageDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.extentMorgageValue">Extent Morgage Value</span></dt>
        <dd>
          <span>{{ loanDetails.extentMorgageValue }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.parentAccHeadCode">Parent Acc Head Code</span></dt>
        <dd>
          <span>{{ loanDetails.parentAccHeadCode }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanAccountName">Loan Account Name</span></dt>
        <dd>
          <span>{{ loanDetails.loanAccountName }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.disbursementAmt">Disbursement Amt</span></dt>
        <dd>
          <span>{{ loanDetails.disbursementAmt }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.disbursementStatus">Disbursement Status</span></dt>
        <dd>
          <span>{{ loanDetails.disbursementStatus }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.year">Year</span></dt>
        <dd>
          <span>{{ loanDetails.year }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ loanDetails.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ loanDetails.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ loanDetails.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ loanDetails.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ loanDetails.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanDemand">Loan Demand</span></dt>
        <dd>
          <div *ngIf="loanDetails.loanDemand">
            <a [routerLink]="['/loan-demand', loanDetails.loanDemand.id, 'view']">{{ loanDetails.loanDemand?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.member">Member</span></dt>
        <dd>
          <div *ngIf="loanDetails.member">
            <a [routerLink]="['/member', loanDetails.member.id, 'view']">{{ loanDetails.member?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.loanDemand">Loan Demand</span></dt>
        <dd>
          <div *ngIf="loanDetails.loanDemand">
            <a [routerLink]="['/loan-demand', loanDetails.loanDemand.id, 'view']">{{ loanDetails.loanDemand?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.societyLoanProduct">Society Loan Product</span></dt>
        <dd>
          <div *ngIf="loanDetails.societyLoanProduct">
            <a [routerLink]="['/society-loan-product', loanDetails.societyLoanProduct.id, 'view']">{{
              loanDetails.societyLoanProduct?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="vksApplicationApp.loanDetails.bankDhoranDetails">Bank Dhoran Details</span></dt>
        <dd>
          <div *ngIf="loanDetails.bankDhoranDetails">
            <a [routerLink]="['/bank-dhoran-details', loanDetails.bankDhoranDetails.id, 'view']">{{ loanDetails.bankDhoranDetails?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/loan-details', loanDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
