<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-society-crop-registration-heading"
        data-cy="SocietyCropRegistrationCreateUpdateHeading"
        jhiTranslate="vksApplicationApp.societyCropRegistration.home.createOrEditLabel"
      >
        Create or edit a Society Crop Registration
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.cropName" for="field_cropName">Crop Name</label>
          <input type="text" class="form-control" name="cropName" id="field_cropName" data-cy="cropName" formControlName="cropName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.monthDuration" for="field_monthDuration"
            >Month Duration</label
          >
          <input
            type="number"
            class="form-control"
            name="monthDuration"
            id="field_monthDuration"
            data-cy="monthDuration"
            formControlName="monthDuration"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.season" for="field_season">Season</label>
          <select class="form-control" name="season" formControlName="season" id="field_season" data-cy="season">
            <option [ngValue]="null">{{ 'vksApplicationApp.Season.null' | translate }}</option>
            <option *ngFor="let season of seasonValues" [value]="season">{{ 'vksApplicationApp.Season.' + season | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.cropLimit" for="field_cropLimit"
            >Crop Limit</label
          >
          <input type="number" class="form-control" name="cropLimit" id="field_cropLimit" data-cy="cropLimit" formControlName="cropLimit" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.year" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.createdOn" for="field_createdOn"
            >Created On</label
          >
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.isDeleted" for="field_isDeleted"
            >Is Deleted</label
          >
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.freeField1" for="field_freeField1"
            >Free Field 1</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.freeField2" for="field_freeField2"
            >Free Field 2</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.freeField3" for="field_freeField3"
            >Free Field 3</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vksApplicationApp.societyCropRegistration.society" for="field_society">Society</label>
          <select
            class="form-control"
            id="field_society"
            data-cy="society"
            name="society"
            formControlName="society"
            [compareWith]="compareSociety"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="societyOption" *ngFor="let societyOption of societiesSharedCollection">{{ societyOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
