<div>
  <h2 id="page-heading" data-cy="SocietyConfigHeading">
    <span jhiTranslate="vksApplicationApp.societyConfig.home.title">Society Configs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vksApplicationApp.societyConfig.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-society-config"
        [routerLink]="['/society-config/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vksApplicationApp.societyConfig.home.createLabel"> Create a new Society Config </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters" (filterChange)="navigateToWithComponentValues()"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="societyConfigs?.length === 0">
    <span jhiTranslate="vksApplicationApp.societyConfig.home.notFound">No Society Configs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="societyConfigs && societyConfigs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="configName">
            <span jhiTranslate="vksApplicationApp.societyConfig.configName">Config Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="configType">
            <span jhiTranslate="vksApplicationApp.societyConfig.configType">Config Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="vksApplicationApp.societyConfig.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="vksApplicationApp.societyConfig.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="year">
            <span jhiTranslate="vksApplicationApp.societyConfig.year">Year</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="vksApplicationApp.societyConfig.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="vksApplicationApp.societyConfig.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="vksApplicationApp.societyConfig.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="vksApplicationApp.societyConfig.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="vksApplicationApp.societyConfig.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="vksApplicationApp.societyConfig.freeField1">Free Field 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <span jhiTranslate="vksApplicationApp.societyConfig.freeField2">Free Field 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <span jhiTranslate="vksApplicationApp.societyConfig.freeField3">Free Field 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="society.id">
            <span jhiTranslate="vksApplicationApp.societyConfig.society">Society</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bankDhoranDetails.id">
            <span jhiTranslate="vksApplicationApp.societyConfig.bankDhoranDetails">Bank Dhoran Details</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let societyConfig of societyConfigs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/society-config', societyConfig.id, 'view']">{{ societyConfig.id }}</a>
          </td>
          <td>{{ societyConfig.configName }}</td>
          <td>{{ societyConfig.configType }}</td>
          <td>{{ societyConfig.status }}</td>
          <td>{{ societyConfig.value }}</td>
          <td>{{ societyConfig.year }}</td>
          <td>{{ societyConfig.lastModified | formatMediumDatetime }}</td>
          <td>{{ societyConfig.lastModifiedBy }}</td>
          <td>{{ societyConfig.createdBy }}</td>
          <td>{{ societyConfig.createdOn | formatMediumDatetime }}</td>
          <td>{{ societyConfig.isDeleted }}</td>
          <td>{{ societyConfig.freeField1 }}</td>
          <td>{{ societyConfig.freeField2 }}</td>
          <td>{{ societyConfig.freeField3 }}</td>
          <td>
            <div *ngIf="societyConfig.society">
              <a [routerLink]="['/society', societyConfig.society.id, 'view']">{{ societyConfig.society?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="societyConfig.bankDhoranDetails">
              <a [routerLink]="['/bank-dhoran-details', societyConfig.bankDhoranDetails.id, 'view']">{{
                societyConfig.bankDhoranDetails?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/society-config', societyConfig.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/society-config', societyConfig.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(societyConfig)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="societyConfigs && societyConfigs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
